.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  img {
    max-width: 100%;
    max-height: 100%;
}